body {
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.all {
    display: grid;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas: "header header header"
    "first nested nested"
    "footer footer footer";
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}
.header {
    grid-area: header;
    display: inline;
    background-color: grey;
    font-size: 50px;
    padding-top: 30px;
}
.first {
    grid-area: first;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.small {
    background-color: lightgrey;
    width: 100%;
    height: 85px;
    margin: .5px;
    font-size: 30px;
    padding-top: 40px;
}
.nested {
    grid-area: nested;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "second third fourth fifth";
    grid-column-gap: 8px;
    background-color: lightyellow;
    align-items: center;
}
.second {
    grid-area: second;
    box-shadow: 5px 10px;
    transition: transform 300ms ease-out;
}
.second:hover {
    transform: scale(1.5);
}
.third {
    grid-area: third;
    opacity: .5;
    transition: all 500ms ease-in-out;
}
.third:hover {
    opacity: 1;
}
.fourth {
    grid-area: fourth;
    font-size: 90px;
    animation: bouncy 3s linear 0s infinite;
    transform-origin: bottom;
}
@keyframes bouncy {
    0% {transform: translateY(0);}
    50% {transform: translateY(-100px);}
    100% {transform: translateY(0);}
}
.fifth {
    grid-area: fifth;
    font-size: 50px;
    background-color: purple;
    color: purple;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}
.fifth:hover {
    color: white;
    transform: rotateZ(90deg);
}
.footer {
    grid-area: footer;
    background-color: lightgrey;
}
input[type=text]:hover {
    border-color: yellow;
}
@media only screen and (max-width: 900px) {
    .all {
        grid-template-rows: 1fr .2fr 2fr 1fr;
        grid-template-areas: "header"
        "first"
        "nested"
        "footer";
    }
    .first {
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .small {
        background-color: lightgrey;
        width: 100%;
        height: 40px;
        font-size: 20px;
        padding-top: 30px;
    }
    .nested {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "second third fourth"
        "fifth sixt sixth";
    }
}